*{
    /*BORRAR o MODIFICAR*/
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; /* Normaliza el tamaño de fuente para mantener coherencia */
    vertical-align: baseline; /* Asegura alineación base uniforme en todos los elementos */
}

body{ /*BORRAR o MODIFICAR*/
    text-align: justify; /* Justifica el texto en toda la página */
    font-family: sans-serif; /* Usa una fuente sans-serif para mejorar la legibilidad */
    background-color: #efe9e9; /* Establece un fondo de color crema claro */
}


/*"TÍTULO" Con este bloque se le da estilo a todos los bloques marcados dentro de la clase "title" en el html*/
.title{
    margin-top: 40px; /* Agrega espacio antes y después del título */
    margin-bottom: 40px; /*Este da un margen de 40 pixeles creando un espacio entre cada letra*/
    font-size: 45px; /* Tamaño de la fuente grande para destacar el título */
    font-weight: 600; /* Hace que el texto sea más grueso */
    text-transform: uppercase; /* Convierte el texto a mayúsculas automáticamente */
    text-align: center; /* Centra el título en la página */
    color:#453c5c; /* Color morado oscuro para destacar el título */
}


p{
    margin-bottom: 40px; /*Este da un margen de 40 pixeles creando un espacio entre cada letra*/
    font-size: 18px; /*Indica que el tamaño de la letra será de 18 pixeles*/
    color: #453c5c; /*Le da a la letra un colo oscuro para resaltar de el fondo*/
    padding: 0 100px; /*Crea un margen interno en los lados sin afectar la parte superior e inferior de la fuente*/
}


/*CUERPO MENÚ*/
.menu{
    display: flex; /*Permite organizar y alinear elementos dentro del contenedor haciendo que el diseño sea más flexible y dinámico*/
    align-items: center; /*Centra los elementos verticalmente*/
    justify-content: space-between; /* Distribuye los elementos de manera uniforme dentro del contendedor*/
    width: 100%; /* Hace que el elemento ocupe el 100% del ancho disponible*/
    max-width: 100%; /*Asegura que no sobrepase el ancho del viewport*/
    background-color: #0f7d7e; /*Le da a toda el área del menú un color azul verdoso*/
    padding: 0px 20px; /*Agrega espacio a los lados para que no pegue al borde*/
    box-sizing: border-box; /*Evita que el padding afecte el tamaño total*/
    z-index: 100; /*Controla qué elemento está "encima" de otro cuando se superponen.*/
    flex-wrap: wrap;  /*Permite que los elementos se envuelvan en múltiples líneas en pantallas pequeñas.*/
}


/*"LOGO"*/
.logo{
    margin-right: auto; /* Empuja el elemento hacia la izquierda automáticamente */
}

.logo img{
    width: 85px;  /*Cambia el tamaño del logo*/
    height: auto; /*El valor automático permite que el logo se adapte automáticamente al contenido que hay dentro*/
}

/*Si llega a suceder algún problema con la imágen del logo, este bloque mostrará un texto
BORRAR EN UN FUTURO*/
.logo a{
    text-decoration: none; /*Quita cualquier decoración del texto o directamente no se le asigna ninguno*/
    color: #fff; /*El color de la letra que se mostrará será blanco*/
    text-transform: uppercase; /*Mostrará el texto en máyusculas*/
    font-size: 20px; /*El tamaño de la fuente será de 20 pixeles*/
}


/*"CUERPO NAVBAR"*/

/*"SECCIONES/LINKS" En este bloque se le da estilo a los enlaces de la barra de navegación.*/
.navbar{
    display: flex; /* Usa flexbox para organizar los elementos en línea */
    margin-right: 20px; /* Agrega un margen a la derecha */
    align-items: center; /* Centra los elementos verticalmente */
    list-style: none; /* Elimina los estilos de lista (puntos, números, etc.) */
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina relleno interno */
    height: 70px; /* Establece una altura fija */
}

.navbar li{
    margin-right: 13px; /*Separación entre secciones*/
}

.navbar li a{
    scroll-margin-top: 60 px; /*Evita que el navbar tape los titulos*/
    display: block; /*Hace que la sombra del fondo de las secciones abarque toda la altura del menu*/
    height: 70px; /*Iguala la altura a la del navbar*/
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    line-height: 70px; /*Centra el texto verticalmente*/
    padding: 0 10px; /*Margen interior*/
    color: #fff; /* Establece el color del texto en blanco */
    text-decoration: none; /*Sirve para quitar la línea de enlace que aparece debajo cada enlace*/
    text-transform: uppercase; /*Aquí se transforma la letra en mayúsculas*/
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 14px; /* Establece el tamaño de fuente en 14px */
}

.navbar a:hover, a:focus{
    background: #207185; /*Con la especificación hover y esta clase podemos hacer que los enlaces que aparecen en la barra de navegación
    cambien a un color más oscuro cuando coloques el cursor sobre ellos*/
}


/*"ADAPTADOR DEL MENÚ PARA CELULARES*/
.menu-toggle {
    display: none; /* Esconde el botón de menú por defecto */
    cursor: pointer; /* Cambia el cursor a "puntero" cuando pasas por encima */
    margin-left: auto; /* Empuja el botón de menú hacia la derecha */
}

.menu-toggle i {
    font-size: 24px; /* Establece el tamaño del ícono dentro del botón */
    color: #fff; /* Pone el color del ícono en blanco */
}


/*"BARRA DE BÚSQUEDA"*/
.search-bar {
    display: flex; /*Permite organizar y alinear elementos dentro del contenedor haciendo que el diseño sea más flexible y dinámico*/
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
    margin-left: 20px; /*Espacio entre el menú y la barra de búsqueda*/
    flex-shrink: 0; /* Evita que la barra se reduzca en pantallas pequeñas */
}

/*    border: none; no sirve :v no cheto: no cambio nada*/

.search-bar input { /*El input es el campo de búsqueda que se expande al enfocarlo.*/
    padding: 8px 10px; /*Le asigna un padding de 8 pixeles a la parte superior e inferior de 10 pixeles a los lados */
    border-radius: 20px 0 0 20px; /*Crea esquinas redondeadas para un diseño más amigable.*/
    outline: none; /*Linea de link: Al seleccionar la barra de búsqueda, desaparece la línea exterior*/
    width: 150px; /*Le asigna al buscador un ancho de 150 pixeles*/
    transition: width 0.4s ease-in-out; /*Esta transición permite que al darle click a la barra de búsqueda esta se amplie hacia la derecha
    en un ancho asignado de 0.4 segundos*/
    /*Por su lado el ease-in-out permite que la animación sea suave y más fluida dandole un comienzo y un final lentos*/
}

.search-bar input:focus { /*El focus se activa solo cuando el búscador este activo*/
    width: 250px; /*Al hacer click en la barra de búsqueda esta se expandirá en un ancho de 250 pixeles*/
}


/*Otro:     border: none;*/

.search-bar button { 
    padding: 8px 10px; /*Le asigna un padding de 40 pixeles a la parte superior e inferior de 10 pixeles a los lados */
    background-color: #ff6b6b; /*Le da un color coral al recuadro donde se encuentra el icono de búsqueda*/
    color: white; /*Le da un color blanco al icono de búsqueda*/
    border-radius: 0 20px 20px 0; /*Crea esquinas redondeadas para un diseño más amigable.*/
    cursor: pointer; /*Convierte el cursor en un pointer para selecionar, copiar o pegar texto*/
    outline: none; /*Elimina la línea exterior que se presenta al expandir el buscador*/
}

.search-bar button:hover {
    background-color: #e55b5b; /*Le da una ligera sombra al botón del buscador al momento de colocar el cursor sobre este mismo*/
}

/* Resaltado */
.highlight { /*El resltado nos ayuda a identificar el resultado de la búsqueda que se acaba de realizar*/
    background-color: #f68f9b; /*Aplica un color coral al resaltado*/
}


/*"FLECHA DE SCROLL"*/
.scroll{
    position: fixed; /*Hace que mantenga su posición fija en la pantalla*/
    bottom: 40px; /*Distancia desde la parte inferior*/
    right: 40px; /*Distancia desde la derecha... Ambos para antenerlo en la esquina inferior derecha*/
    width: 40px; /*Tamaño = Ancho*/
    height: 40px; /*Tamaño = Alto*/
    background: #d33649; /*Color del fondo del círculo*/
    text-align: center; /*Ya que la flecha cuenta como texto en este caso, esto ayudá a que se mantenga
    centrada dentro del círculo*/
    line-height: 40px; /*Centra el ícono de la flecha verticalmente*/
    font-size: 30px; /*Define el tamaño de la flecha*/
    border-radius: 50%; /*Hace que tenga forma circular*/
    cursor: pointer; /*Hace que el cursor cambie a una manita cuando pasa sobre el scroll*/
    text-decoration: none; /*Quita el subrayado del <a>, que vendría siendo un "link"*/
    opacity: 0; /*Hace que en un inicio sea invisible*/
    visibility: hidden; /*Evita que ocupe espacio y obstruya en los demás elementos*/
    transition: opacity 0.2s ease-in-out, visibility 0.2s; /*Implementa una transición de inicio y final*/
}

#scrollTop.show {
    opacity: 1; /*Hace que se haga visible con suavidad (gracias a la transición)*/
    visibility: visible;
}

.scroll:hover{
    background: #f87988; /*Color del fondo del círculo*/
    color: #fff; /*Color de la flecha*/
}



.header{ /*MODIFICAR*/
    height: 30vh; /* Establece la altura del contenedor en el 30% de la altura de la ventana */
    justify-content: center; /* Centra los elementos horizontalmente dentro del contenedor */
    align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
    background-image: url(../img/formato\ graa.jpeg); /* Establece la imagen de fondo del contenedor */
    filter: brightness(85%); /*Reduce el brillo del fondo para que se vea un poco más opaco y oscuro*/
    background-attachment: fixed; /*La imagen se quedará inmovil y se desplazará*/    
    background-repeat:no-repeat center; /* La imagen no se repite y se centra en el contenedor */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor, manteniendo su proporción */
    padding-top: 20px; /* Añade espacio en la parte superior del contenedor */
}



/*CONTENIDO DE PÁGINA*/
/*En este bloque se hace más pequeño la expansión de la página en la pantalla*/
.container {
    width: 80%; /* Establece el ancho del contenedor al 80% del ancho total de la página */
    margin: 0px auto; /* Centra el contenedor horizontalmente */
    margin-top: 0%; /* No añade margen superior */
    margin-bottom: 0%; /* No añade margen inferior */
    background-color: #fffdd1; /* Establece el color de fondo del contenedor */
    box-sizing: border-box;  /* Asegura que el padding y el borde se incluyan en el cálculo del tamaño total */
    box-shadow: 0 4px 6px rgba(233, 229, 229, 0.1); /*Añadé sombra al fonod haciendo que se vea ligeramente tipo 3D*/
}


/*Tabla de contenidos*/
.table {
    position: -webkit-sticky; /* Para compatibilidad con navegadores WebKit como Safari */
    background-color: #207185; /* Color de fondo oscuro */
    padding: 10px 0; /* Añade un relleno superior e inferior de 10px */
    width: 100%; /* Hace que el menú ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que el menú se mantenga por encima de otros elementos */
}

.table h3{
    color: #fff; /* Establece el color del texto en blanco */
}

/*Estilos para la lista del menú*/
.table ul {
    list-style-type: none; /* Elimina los estilos de viñetas de la lista */
    margin: 0; /* Elimina el margen externo de la lista */
    padding: 0; /* Elimina el relleno interno de la lista */
    display: flex; /* Utiliza flexbox para organizar los elementos de la lista */
    justify-content: center; /* Centra los elementos horizontalmente dentro del menú */
}

/*Estilos para los elementos de la lista (li) */
.table ul li {
    margin: 0 15px; /* Espaciado horizontal entre los elementos del menú */
}

/* Estilos para los enlaces del menú*/
.table ul li a {
    color: white; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    font-size: 18px; /* Define el tamaño de la fuente en 16px */
}

/* Efecto hover en los enlaces del menú */
.table ul li a:hover {
    color: #e55b5b; /* Cambia el color del texto a dorado (#FFD700) cuando el usuario pasa el cursor */
}


/*FOOTER*/

/*"FOOTER SUPERIOR"*/
.footer-container{
    margin: 0; /* Elimina los márgenes externos del contenedor */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding y borde se incluyan en el cálculo del tamaño total */
}

.footer-top{
    background-color: #0f7d7e; /* Establece un color de fondo verde azulado*/
    display: flex; /* Utiliza flexbox para organizar los elementos en línea */
    justify-content: space-between; /* Distribuye los elementos con el máximo espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    max-width: 100%;  /* Asegura que el ancho no exceda el 100% */
    padding-bottom: 15px; /* Añade un poco de espacio en la parte inferior */
    margin: 0 auto; /* Centra el bloque horizontalmente */
}

.footer-logo img{
    width: 100px; /* Establece un tamaño fijo para la imagen del logo */
    height: auto; /* Ajusta la altura de manera proporcional al ancho */
}  

.footer-navbar{
    display: flex; /* Utiliza flexbox para organizar los elementos de la barra de navegación */
    align-items: center; /* Centra verticalmente los elementos dentro del navbar */
    list-style: none; /* Elimina los puntos o números de la lista */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    margin: 0; /* Elimina los márgenes externos */
    padding: 0; /* Elimina el relleno interno */
}

.footer-navbar li{
    margin: 0 10px; /* Añade márgenes laterales entre los elementos de la lista */
}

.footer-navbar li a{
    color: #fff; /* Establece el color del texto en blanco */
    padding: 0 10px; /*Margen interior*/
    text-decoration: none; /*Sirve para quitar la línea de enlace que aparece debajo cada enlace*/
    text-transform: uppercase; /*Aquí se transforma la letra en mayúsculas*/
    font-size: 13px;
}

.footer-navbar li a:hover {
    color: #fffb00;
}


/*"FOOTER INFERIOR"*/
.footer-bottom{
    background-color: #075f61; /* Establece un fondo verde oscuro*/
    font-size: 14px; /* Establece el tamaño de fuente en 14px */
    display: flex; /* Utiliza flexbox para organizar los elementos en línea */
    justify-content: space-between; /* Distribuye los elementos con el máximo espacio entre ellos */
    align-items: center; /* Centra los elementos verticalmente */
    max-width: 100%; /* Asegura que el ancho no exceda el 100% */
    padding-top: 15px; /* Añade espacio en la parte superior */
    margin: 0 auto; /* Centra el bloque horizontalmente */
}

.footer-bottom p {
    padding-left: 13px; /* Añade espacio a la izquierda del texto */
    color: #fff; /* Establece el color del texto en blanco */
}

.socials img{
    padding: 0px 5px 5px 0px; /* Añade espacio alrededor de las imágenes de los íconos sociales */
    display: inline-block; /* Hace que las imágenes se alineen en línea */
    margin-left: 10px; /* Añade espacio a la izquierda de las imágenes */
    width: 25px; /* Establece el tamaño de las imágenes a 25px */
    height: auto; /*Mantiene la proporción de las imágenes al ajustar su tamaño*/
}

.socials img:hover {
    content: url("nueva-imagen.jpg"); /*Reemplaza la imagen de los íconos de las redes sociales*/
    transform: scale(1.2); /**/ /* Escala el elemento al 120% de su tamaño original */
}

