/*Pondré comentarios a algunas líneas para explicar que hacen, excepto las más obvias.*/

*{
    /* Este apartado en el codigo del css sirve para resetear todo el estilo del archivo html
    y que por default se apliquen estos estilos si no se indica lo contrario */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-align: justify;
    justify-content: space-between;
    vertical-align: baseline; /*Ajusta la alineación vertical de un elemento en relación con otros elementos en línea.
    ej. Si tienes texto y una imagen en la misma línea, los alinea en la "línea base" del texto.*/
}

html {
    scroll-behavior: smooth; /*Hace que el desplazamiento por a página sea suave en lugar de un salto brusco*/
}

/*"CUERPO GENERAL" Con este bloque asignamos el estilo predeterminado al cuerpo.*/
body{
    text-align: center;
    font-family: sans-serif;
    background-color: #1c558b;
}


/*"LETRA GENERAL" Con este bloque asignamos el estilo predeterminado a la letra*/
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}


/*"ESTILO LINKS"*/

/*Cambia el color de los links al poner el cursor SOBRE estos.*/
a:hover{
    color: rgb(243, 110, 132);
}

/*Cambia el color de los links al estar ACTIVOS, es decir, SIN VISITAR.*/
a:active {
    color: rgb(0, 153, 255) ; /* Cambia de color cuando haces clic */
}

/*Cambia el color de los links al ya haber sido VISITADOS.*/
a:visited {
    color: purple;
}


/*"HEADER/ENCABEZADO"*/


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.header h2{
    color: #11454d;
    text-align: center;
} 

.header p{
    color: #11454d;
    font-size: 25px; /*Tamaño del parrafo dentro del header*/
    font-weight: 800;/*Darle el formato a negrita*/
    text-align: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Separa los contenidos para evitar que se amontone la información*/
    height: 65px;
    background-color: #71dbd2;
    position: fixed;
    width: 100%;
    z-index: 100; /*Controla qué elemento está "encima" de otro cuando se superponen.*/
}


/*AQUI COMIENZA "NAVBAR"*/

/*"CUERPO NAVBAR"*/
.navbar{
    display: flex;
    margin: 10px; /*Esta línea nos sirve para separar los botones de enlace a otras páginas*/
}

.navbar a{
    /*En este bloque se le da estilo a los enlaces de la barra de navegación que se encuentra en el encabezado*/
    display: block;
    padding: 23px; /*Margen interior*/
    color: #fff;
    text-decoration: none; /*Sirve para quitar la línea de enlace que aparece debajo cada enlace*/
    text-transform: uppercase; /*Aquí se transforma la letra en mayúsculas*/
    font-size: 18px;
}

.navbar a:hover{
    background: #45ada8; /*Con la especificación hover y esta clase podemos hacer que los enlaces que aparecen en la barra de navegación
    cambien a un color más claro cuando coloques el cursor sobre ellos*/

}

/*QUE ES ESTO PAPUS?*/

section{
    scroll-margin-top: 60px; /*Evita que el navbar tape los titulos*/
}


/*AQUI COMIENZA "LOGO"*/

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}


/*AQUI COMIENZA "HEADER"*/

.header{
    height: 60vh !important; /*El !important fuerza esta regla, incluso si hay otras reglas que intentan cambiarla.*/
    background-image: url(../Sitio\ web/img/header.png);
    filter: brightness(90%); /*Reduce el brillo del fondo para que se vea un poco más opaco y oscuro*/
    background-attachment: fixed; /*La imagen se quedará inmovil y se desplazará*/    
    background-repeat:no-repeat center;
    background-size: cover;
}


/*"TÍTULO" Con este bloque se le da estilo a todos los bloques marcados dentro de la clase "title" en el html*/
.title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

/*La clase de btn sirve para darle estilo a los botones que se encuentran dentro de la página*/
.btn{
    display: inline-block;
    margin-top: 15px;  /*Se le da un margen a la parte de arriba del botón*/
    padding: 10px 50px;
    border: 2px solid #7ac2cc; /*Aquí se le da un color al borde del botón*/
    color: #fff;
    text-decoration: none;
    background: #7ac2cc;
}

.btn:hover{ /*El hover nos es de gran ayuda para cambiar el color cuando el cursor se encuentra sobre el boton*/
    background: none; /*Al indicar como none el background al poner el cursor sobre los botones parte de la clase btn
    se pondrán del tamaño del fondo que este en ese momento*/
}

.btn-home{
    display: flex;
}

.btn-home a{
    /*En este bloque indicamos la separación de los botones*/
    margin: 0 10px;
}


 /*En este bloque se da estilo al contenido general de todas las secciones que estan dentro de la clase content*/
.content{
    height: 50vh;
    display: flex;
    flex-direction: column; /*Convierte los distintos parrafos en columnas a la hora de verse en un movil distinto*/
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}


.encabezado{
    padding: 30px;
    background: #ade4b5; /*Con estas líneas de estilo creamos un recuadro con color que contiene parte de la información que se encuentra
    dentro del bloque de clase sau en el archivo html*/
}


.about{
    background: #ade4b5;
}

.Definiciones{
    text-align: center;
    background-color: #428a95;
}


/*Desde aquí inicia la sección de tipos de neurodivergencia*/
.neurodivegencia{
    color:#171717 ;
}

.box-container{
    display: flex;
    justify-content: center; /*Se centra la información del bloque de contenido*/
    flex-wrap: wrap; /*Modifica la vista del sitio web para que al entrar en tableta, celular o pc, se adapte a la pantalla del mismo*/
    text-align: center;
}

.box-container .box{ /*Al invocar a dos clases se esta indicando que se va a afectar la clase box container*/
    height: 15rem;
    width: 17rem;
    background: #3b3b3b;
    text-align: center;
    border-radius: 1rem; /*Esto nos sirve para que el borde de la caja de contenido tenga un ligero borde*/
    box-shadow: 0 .3 5rem rgba(0, 0, 0, .5); /*Con este le damos una sombra a la caja de contenido*/
    margin: 2rem;
}


/*Tipos de neurodivergencia*/
/*AUTISMO*/
.box-container .box .autismo{
    color:#d8d878;
    background-color: #d8d878;
    border-radius: 1rem;
}

.box-container .box .autismo h3{
    color: #6b6b21;
}

.box-container .box .autismo p{
    color: #6b6b21;
}

.box-container .box .autismo a{
    color: #6b6b21;
}

/*TDAH*/
.box-container .box .tdah{
    color:#ebc678;
    background-color: #ebc678;
    border-radius: 1rem;
}

.box-container .box .tdah h3{
    color: #7c5e1d;
}

.box-container .box .tdah p{
    color: #7c5e1d;
}

.box-container .box .tdah a{
    color: #7c5e1d;
}

/*DISLEXIA*/
.box-container .box .dislexia{
    color:#99aee2;
    background-color: #99aee2;
    border-radius: 1rem;
}

.box-container .box .dislexia h3{
    color: #2c3b60;
}

.box-container .box .dislexia p{
    color: #2c3b60;
}

.box-container .box .dislexia a{
    color: #2c3b60;
}

/*TOURETE*/
.box-container .box .tourete{
    color:#8bd77d;
    background-color: #8bd77d;
    border-radius: 1rem;
}

.box-container .box .touret h3{
    color: #37642f;
}

.box-container .box .touret p{
    color: #37642f;
}

.box-container .box .tourete a{
    color: #37642f;
}

/*DISPRAXIA*/
.box-container .box .dispraxia{
    color:#8bd77d;
    background-color: #8bd77d;
    border-radius: 1rem;
}

.box-container .box .dispraxia h3{
    color: #37642f;
}

.box-container .box .dispraxia p{
    color: #37642f;
}

.box-container .box .dispraxia a{
    color: #37642f;
}

/*DISCALCULIA*/
.box-container .box .discalculia{
    color:#f57c64;
    background-color: #f57c64;
    border-radius: 1rem;
}

.box-container .box .discalculia h3{
    color: #7d3628;
}

.box-container .box .discalculia p{
    color: #7d3628;
}

.box-container .box .discalculia a{
    color: #7d3628;
}

/*ANSIEDAD*/
.box-container .box .ansiedad{
    color:#eeba88;
    background-color: #eeba88;
    border-radius: 1rem;
}

.box-container .box .ansiedad h3{
    color: #603a16;
}

.box-container .box .ansiedad p{
    color: #603a16;
}

.box-container .box .ansiedad a{
    color: #603a16;
}


.box-container .box p{ /*Formato a los parrafos dentro del box-container*/
    font-size: 16px;
    padding: 0 15px;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
.about p{
    color: #11454d
}

.Definiciones{
        background-image: url();
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        background-color: #428a95;
}

=======
>>>>>>> b97dbe7dd2a48c80f6b11bb8ce9881055ae0c08f
.neurodivergencia{
    background: #171717;
    justify-content: space-between;
}

>>>>>>> 1144d2c182b69198ab11b6e20ae31e21eb380d3e
.contact{ /*Todo este bloque lo puse de manera temporal hasta descubrir que hacer con los cuadros de texto*/
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
    justify-content: space-between;
}

.contact p{
    color: #171717;
}

.Lineap{ /*Aquí le di formato a la sección de línea de apoyo*/
    justify-content: space-between; /*Espacio entre contenidos*/
    padding-top: 20px;
    padding-bottom: 100px;
}

.list ul{  /*Estilo del formato general de la lista de linea de apoyo*/
    list-style: none; /*No se le asigna ningún tipo de lista*/
    padding: 0;
}

.list li{
    background-color: #428a95;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.recursos{
    padding: 80px;
    padding-top: 10px;
    background: #171717;
    justify-content: baseline;

}

.recursos h3{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.videos-container{
    display: flex;
    justify-content: center;
    gap: 10px; /*Espacio entre imágenes*/
    padding-top: 25px;
}

.video a{
    text-align: center;
    padding: 5px;
}

.video p{
    padding: 15px;
}

.video img{
    width: 320px;
    height: auto;
}

hr{ /*Sirve para dejar un espacio en blanco antes del footer*/
    border: 1px solid #fff;
}

.footer-container{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #71dbd2;
}

.socials img{
    padding-top: 30px;
    display: inline-block;
    margin-left: 5px;
    width: 1.5%;
    height: auto; /*Mantiene la proporción de las imágenes al ajustar su tamaño*/
}

.socials img:hover {
    content: url("nueva-imagen.jpg"); /* Reemplaza la imagen */
}


 @media (max-width: 768px) { /*Es una "media query", usada para hacer que los estilos cambien en pantallas pequeñas*/
    
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau{
        height: 120vh;
    }

    .navbar{
        display: none;
    }
 }