@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    /* Este apartado en el codigo del css sirve para resetear todo el estilo del archivo html
    y que por default se apliquen estos estilos si no se indica lo contrario */
    margin: 0; /*Le da una configuración de 0 al margen*/
    padding: 0; /*Le da una configuración de 0 demargen interior*/
    border: 0; /*Le da un valor de 0 al borde de la página*/
    font-size: 100%; /*Indica que el tamaño de la letra será igual al "padre" de la fuente asignada*/
    text-align: justify; /*Hace que todo el texto este justificado, dandole una apariencia profesional*/
    color: #453c5c; /*Le da a la letra un colo oscuro como predeterminado*/
    vertical-align: baseline; /*Ajusta la alineación vertical de un elemento en relación con otros elementos en línea.
    ej. Si tienes texto y una imagen en la misma línea, los alinea en la "línea base" del texto.*/
    box-sizing: border-box; /*uwu*/ /* Incluye padding y borde en el tamaño total. */
}


html {
    scroll-behavior: smooth; /*Hace que el desplazamiento por a página sea suave en lugar de un salto brusco*/
}

/*"CUERPO GENERAL" Con este bloque asignamos el estilo predeterminado al cuerpo.*/
body{
    text-align: justify; /*Hace que todo el texto este justificado, dandole una apariencia profesional*/
    font-family: 'Ubuntu', sans-serif; /*Indica que la fuente del body será tipo "Ubuntu" en primera instancia, o tipo "sans-serif
    si no encuentra la primer fuente*/
    background-color: #faf8e1; /*Le asigna un color al fondo general de la página*/
}


/*"LETRA GENERAL" Con este bloque asignamos el estilo predeterminado a la letra*/
p{
    margin-bottom: 40px; /*Este da un margen de 40 pixeles creando un espacio entre cada letra*/
    font-size: 18px; /*Indica que el tamaño de la letra será de 18 pixeles*/
    color: #453c5c; /*Le da a la letra un colo oscuro para resaltar de el fondo*/
    padding: 0 100px; /*Crea un margen interno en los lados sin afectar la parte superior e inferior de la fuente*/
}


/*"TÍTULO" Con este bloque se le da estilo a todos los bloques marcados dentro de la clase "title" en el html*/
.title{
   margin: 40px; /* Espaciado externo alrededor del título */
    font-size: 45px; /* Tamaño grande para destacar */
    font-weight: 600; /* Texto semi-negrita */
    text-transform: uppercase; /* Convertir todo a mayúsculas */
    text-align: center; /* Centrar el texto */
    color:#453c5c;/* Color morado oscuro */
}


.subtitle{
    margin: 20px; /* Espaciado externo más pequeño */
    font-size: 25px; /* Tamaño más discreto que el título */
    font-weight: 600;  /* Semi-negrita */
    text-transform: uppercase; /* Todo en mayúsculas */
    text-align: center; /* Texto centrado */
    color:#453c5c; /* Mismo color que el título */
}


/*"ENCABEZADO MENÚ" Estilos del menú principal.*/

/*"CUERPO MENÚ" Contenedor principal del menú.*/
.menu{
    display: flex; /*Usa flexbox para distribuir los elementos de manera flexible*/
    align-items: center; /*Centra los elementos verticalmente*/
    justify-content: flex-start; /*Distribuye los elementos con espacio entre ellos*/
    width: 100%; /*Ocupa todo el ancho disponible*/
    max-width: 100%; /*Evita que el menú supere el ancho de la pantalla con un máximo del 100%*/
    background-color: #2d938e; /*Color de fondo azul verdoso*/
    padding: 0px 25px 0px 25px; /*Agrega espacio a los lados para que no pegue al borde*/
    box-sizing: border-box; /*Evita que el padding afecte el tamaño total del elemento*/
    flex-wrap: nowrap; /*Evita que los elementos se desborden en otra línea*/
    z-index: 100; /*Asegura que el menú permanezca por encima de otros elementos*/
    flex-wrap: wrap; /*Permite que los elementos se distribuyan en varias líneas si es necesario*/
}


/*"LOGO"*/
.logo{
    margin-right: auto; /*Empuja el logo hacia la izquierda y permite que los demás elementos ocupen el espacio restante*/
    margin-top: 3px 0; /*Margen exterior superior e inferior*/
}

/*Ajustes de la imagen del logo*/
.logo img{
    width: 75px; /*Define un ancho fijo para la imagen del logo*/
    height: auto; /*Mantiene la proporción original de la imagen*/
}

/*Si la imagen del logo no carga, se mostrará un texto "LOGO"*/
.logo a{
    text-decoration: none; /*Elimina el subrayado predeterminado en los enlaces*/
    color: #fff; /*Color blanco para el texto*/
    text-transform: uppercase; /*Convierte el texto en máyusculas*/
    font-size: 20px; /*Tamaño del texto del logo*/
}


/*"CUERPO NAVBAR" Estilos de la barra de navegación*/

/*"SECCIONES/LINKS" Contenedor de los elementos de navegación*/
.navbar{
    display: flex; /*Usa flexbox para organizar los elementos*/
    margin-right: 20px; /*Margen exterior derecho para separar los elementos*/
    list-style: none; /*Elimina los estilos de lista predeterminados*/
    margin: 0; /*Elimina márgenes predeterminados*/
    padding: 0; /*Elimina relleno predeterminado*/
}

/*Contenedor de la lista de navegación*/
.navbar ul {
    list-style-type: none; /*Elimina los estilos de viñetas predeterminados*/
    display: flex; /*Organiza los elementos en una sola línea horizontalmente*/
    justify-content: center; /*Centra los elementos de la lista horizontalmente*/
  }

/*Cada elemento de la lista de navegación*/
.navbar li{
    position: relative; /*Permite posicionar elementos secundarios de forma absoluta dentro de este*/
}

/*Estilos de los enlaces de la barra de navegación*/
.navbar li a{
    scroll-margin-top: 60px; /*Evita que el título quede oculto por el menú fijo al hacer scroll*/
    display: block; /*Hace que la sombra del fondo de las secciones abarque toda la altura del menu*/
    height: 85px; /*Ajusta la altura de los enlaces para igualarla al menú*/
    width: 100%; /*Se ajusta al ancho completo del contenedor*/
    line-height: 85px; /*Centra el texto verticalmente*/
    padding: 0 16px; /*Agrega un relleno interno a los lados para separar las secciones*/
    color: #fff; /*Color blanco para los enlaces*/
    text-decoration: none; /*Elimina el subrayado predeterminado los enlaces*/
    text-transform: uppercase; /*Convierte el texto a mayúsculas*/
    text-align: center; /*Centra el texto horizontalmente*/
    font-size: 13.5px; /*Tamaño del texto*/
    transition: transform 0.25s ease-in-out;
}

/*Efecto de hover y focus en los enlaces de la barra de navegación*/
.navbar a:hover, a:focus{
    background: #207185; /*Cambia el color de fondo al pasar el cursor sobre los enlaces*/
    transform: scale(1.08);
    color: #fffdd1;
}


/*"Dropdown - Hacia abajo y en lista vertical" Menú desplegable*/
.dropdown-content {
    display: none; /*Mantiene el submenú oculto por defecto*/
    position: absolute; /*Posiciona el submenú en relación con el elemento padre*/
    background-color: #2d938e; /*Color de fondo igual al del menú*/
    min-width: 160px; /*Ancho mínimo del submenú*/
    z-index: 1; /*Asegura que el submenú esté por encima de otros elementos*/
    top: 100%; /*Ubica el submenú justo debajo del elemento principal*/
    left: 0; /*Alinea el submenú con el borde izquierdo del ítem*/
    opacity: 0; /*Inicicalmente invisible*/
    visibility: hidden; /*Oculta visualmente el submenú*/
  }
  
  /*Al pasar el ratón sobre el ítem, el submenú se hace visible*/
.dropdown:hover .dropdown-content {
   display: block; /*Hace visible el submenú*/
   opacity: 1; /*Ajusta la opacidad a 100% para hacerlo visible*/
   visibility: visible; /*Cambia la visibilidad para mostrar el submenú*/
   transition: opacity 0.3s ease-in-out; /*Transición suave para la aparición*/
  }
  
.dropdown-content a {
    color: white; /*Color del texto de los enlaces del submenú*/
    padding: 6px 12px; /*Espaciado interno para mejorar la apariencia*/
    line-height: 1.2;  /*Ajusta la altura de línea para mejor lectura*/
    height: 20px; /*Define una altura fija*/
    text-decoration: none; /*Elimina el subrayado predeterminado de los enlaces*/
    display: block; /*Asegura que los enlaces se muestren en columnas (uno debajo del otro)*/
  }

  /*Estilos para los enalces al pasar el cursor sobre estos*/
.dropdown-content a:hover {
    background-color: #207185; /*Cambia el color de fondo cuando el cursor pasa sobre el enlace*/
  }


  /*"CHEVRON" Flecha indicadora en el menú desplegable*/
.chevron {
    margin-left: 8px; /*Espacio entre el texto y la flecha*/
    transition: transform 0.3s ease; /*Animación suave al girar*/
  }
  
  /*Rotación del Chevron al mostrar el submenú cuando el cursor se pone sobre este*/
.dropdown:hover .chevron {
    transform: rotate(180deg); /*Rota el icono 180 grados cuando el submenú se muestra*/
  }
  

/*"ADAPTADOR DEL MENÚ PARA CELULARES"*/
.menu-toggle {
    display: none; /*Oculto por defecto en pantallas grandes*/
    cursor: pointer; /*Cambia el cursor a una manita para indicar que es clickeable*/
    margin-left: auto; /*Empuja el resto del contenido hacia la izquierda*/
}

/*Estilos del ícono del menú hamburguesa*/
.menu-toggle i {
    font-size: 24px; /*Tamaño del ícono*/
    color: #fff; /*Color del ícono*/
}


/*"BARRA DE BÚSQUEDA"*/
.search-bar {
    display: flex; /*Alinea los elementos en una fila*/
    align-items: center; /*Centra los elementos verticalmente*/
    margin-left: 20px; /*Espacio entre el menú y la barra de búsqueda*/
    flex-shrink: 0; /*Evita que la barra se reduzca en pantallas pequeñas*/
}

/*Campo de entrada de texto de la barra de búsqueda*/
.search-bar input { /*El input es el campo de búsqueda que se expande al enfocarlo.*/
    padding: 8px 10px; /*Acomoda el "buscar..." para que no toque los bordes*/
    border-radius: 20px 0 0 20px; /*Esquinas redondeadas solo en el lado izquierdo*/
    outline: none; /*Elimina el contorno azul predeterminado en algunos navegadores*/
    width: 200px; /*Ancho inicial del campo de búsqueda*/
    transition: width 0.4s ease-in-out; /*Expansión suave del input (buscar...)*/
    /*Por su lado, el ease-in-out permite que la animación sea suave y más fluida, dándole un comienzo y un final lentos*/
}

.search-bar input:focus { /*El focus se activa solo cuando el búscador este activo*/
    width: 325px; /*Al darle click a la barra de búsqueda, esta se ampliará hacia la derecha
    en un ancho de 275px*/
}

/*Estilos para el botón de búsqueda*/
.search-bar button { 
    padding: 8px 10px; /*Espaciado interno del botón de búsqueda*/
    background-color: #ff6b6b; /*Color coral al recuadro donde se encuentra el icono de búsqueda*/
    color: white; /*Color blanco al icono de búsqueda*/
    border-radius: 0 20px 20px 0; /*Esquinas redondeadas en el lado derecho*/
    cursor: pointer; /*Convierte el cursor en un pointer indicar que es un elemento clickeable*/
    outline: none; /*Elimina la línea exterior que se presenta al expandir el buscador*/
}

.search-bar button:hover {
    background-color: #e55b5b; /*Le da una ligera sombra al botón del buscador al pasar el cursor sobre este*/
}

/*Resaltado de búsqueda. El resaltado nos ayuda a identificar el resultado de la búsqueda que se acaba de realizar*/
.highlight { 
    background-color: #f68f9b; /*Fondo resaltado cuando se encuentra un término de búsqueda*/
}


/*"LOGIN/INICIO DE SESIÓN"*/
.Login {
    margin-left: 20px; /*Separación entre la barra de búsqueda y el botón de inicio de sesión*/
    display: flex; /*Organiza los elementos en una fila*/
    align-items: center; /*Alinea verticalmente los elementos*/
}

/*Botón de Inicio de Sesión*/
.login-button {
    display: flex; /*Alinea el ícono y el texto en una fila*/
    align-items: center; /*Alinea verticalmente los elementos*/
    color: white; /*Color blanco para el texto*/
    text-decoration: none; /*Elimina el subrayado predeterminado de los enlaces*/
    font-size: 14px; /*Tamaño de fuente*/
    background-color: #ff6b6b; /*Color rosa coral para el fondo*/
    padding: 8px 14px; /*Margen interno para definir la extensión del fondo*/
    border-radius: 20px; /*Bordes redondeados*/
    transition: background 0.2s ease-in-out; /*Transición suave de inicio y final para el fondo*/
}

/*Estilos del ícono del búsqueda*/
.login-button i {
    margin-right: 8px; /*Margen exterior derecho para separar el ícono y el texto del botón*/
}

/*Efecto al pasar el cursor sobre el botón*/
.login-button:hover {
    background-color: #e55b5b; /*Cambio de color de fondo al pasar el cursor*/
}


/*"CONTENIDO PRINCIPAL DE PÁGINA"*/
.container {
    width: 80%; /*Se reduce el ancho para que ocupe solo el 80% de la pantalla*/
    margin: 0 auto; /*Centra el contenedo horizontalmente*/
    padding: 5px 0 0 0; /*Agrega un margen interior superior*/
    background-color: #faf8e1; /*Color amarillo muy claro para el fondo general*/
    min-height: 100%; /*Asegura que el contenedor tenga al menos la altura completa*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*Añadé sombra al fonfo haciendo que tenga un ligero efecto 3D*/
}


/*"FLECHA DE SCROLL"*/
.scroll{
    position: fixed; /*Mantiene la flecha fija en pantalla*/
    bottom: 40px; /*Distancia desde la parte inferior*/
    right: 40px; /*Distancia desde la derecha para mantenerlo en la esquina*/
    width: 40px; /*Ancho del botón*/
    height: 40px; /*Alto del botón*/
    background: #d33649; /*Color del fondo del botón*/
    text-align: center; /*Ya que la flecha cuenta como texto en este caso, esto ayuda a que se mantenga
    centrada dentro del círculo*/
    line-height: 40px; /*Centra el ícono de la flecha verticalmente*/
    font-size: 30px; /*Tamaño del ícono de la flecha*/
    border-radius: 50%; /*Hace que el botón tenga forma circular*/
    cursor: pointer; /*Cambia el cursor a una manita*/
    text-decoration: none; /*Elimina cualquier subrayado del enlace*/
    opacity: 0; /*Hace que en un inicio sea invisible*/
    visibility: hidden; /*Oculta el elemento sin afectar el diseño*/
    transition: opacity 0.2s ease-in-out, visibility 0.2s; /*Transición para la aparición y desaparición del botón*/
}

/*Muestra la flecha cuando el usuario ha hecho scroll*/
#scrollTop.show {
    opacity: 1; /*Ajusta la opacidad a 100% para hacerla visible*/
    visibility: visible; /*Cambia la visibilidad para mostrar la flecha*/
}

.scroll:hover{
    background: #f87988; /*Cambia el color del fondo al pasar el cursor*/
    color: #fff; /*Cambia el color de la flecha*/
}


/*"SUBMENÚ"*/
.submenu{
    display: flex; /*Alinea los elementos en una fila*/
    align-items: center; /*Centra verticalmente los elementos*/
    width: 100%; /*Ocupa todo el ancho disponible*/
    max-height: 100%;
    max-width: 100%; /*Evita que sobrepase el ancho del viewport*/
    background-color: #075f61; /*Color turquesa para el fondo*/
    /*padding: 20px 25px; Agrega espacio a los lados para que no pegue al borde*/
    padding: 5px 25px 5px 25px; /*Agrega espacio a los lados para que no pegue al borde*/
    box-sizing: border-box; /*Evita que el padding afecte el tamaño total*/
    z-index: 100; /*Controla qué elemento está "encima" de otro cuando se superponen.*/
    /*flex-wrap: wrap;  Permite que los elementos se envuelvan en múltiples líneas en pantallas pequeñas.*/
}

.table{
    display: flex; /*Usa flexbox para organizar los elementos en fila*/
    align-items: center;/*Centra los elementos verticalmente*/
    list-style: none; /*Elimina los estilos de lista predeterminados*/
    margin-right: 30px; /*Separa los elementos del submenú del ícono de traductor*/
}


/*Estilos para la lista del menú*/
.table ul {
    list-style-type: none; /*Elimina los estilos de viñetas de la lista*/
    margin: 0px; /*Elimina el margen externo de la lista*/
    padding: 0px; /*Elimina el relleno interno de la lista*/
    display: flex; /*Utiliza flexbox para organizar los elementos de la lista en una fila*/
    justify-content: center; /*Centra los elementos horizontalmente dentro del menú*/
}

/*Estilos para los elementos de la lista (li)*/
.table li {
    text-align: center; /*Centra el texto de las listas*/
    position: relative; /* Necesario para posicionar el fondo */
}

/*Estilos para los enlaces del menú*/
.table li a {
    padding: 0 16px; /* Agrega espacio a los lados */
    display: block; /* Permite que el enlace ocupe toda el área disponible */
    height: 85%px; /* Hace que el enlace tenga la misma altura que su contenedor */
    line-height: 60px; /* Centra el texto verticalmente */
    color: white; /*Cambia el color del texto a blanco*/
    text-decoration: none; /*Elimina el subrayado predeterminado de los enlaces*/
    font-size: 15px; /*Define el tamaño de fuente*/
    transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
}

/*Efecto hover en los enlaces del menú*/
.table li a:hover {
    color: #e55b5b; /*Cambia el color del texto a rosa coral al pasar el cursor*/
    transform: scale(1.1);
    background-color: #06494b
}


/*"ICONO TRADUCTOR"*/
.lenguajes{
    margin-left: auto; /*Separa al icono de traductor del contenido de la lista del submenú*/
    font-size: 35px; /*Tamaño del icono*/
}

/*Estilo del icono de traducción*/
.lenguajes i{
    color: #93ebf7; /*Color azul claro para el ícono de traductor*/
    cursor: pointer;
}



.header{ 
    height: 45vh; 
    justify-content: center;
    align-items: center;
    background-image: url(../img/tdah.jpg); /*Imagen que se encuentra de fondo en el header*/
    filter: brightness(75%); /*Reduce el brillo del fondo para que se vea un poco más opaco y oscuro */
    background-attachment: fixed; /*La imagen se quedará inmovil y se desplazará*/    
    background-repeat:no-repeat center;
    background-size: cover;
    padding-top: 20px;
}


/*"LETRA HEADER"*/
.header h6{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    text-align: center;
    font-size: 23.5px; /*Tamaño del parrafo dentro del header*/
    font-weight: 800; /*Darle el formato a negrita*/
}


/*CONTENIDO DE PÁGINA*/
/*En este bloque se hace más pequeño la expansión de la página en la pantalla*/
.container {
    width: 80%; 
    margin: 0px auto;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #fffdd1;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(233, 229, 229, 0.1); /*Añadé sombra al fonod haciendo que se vea ligeramente tipo 3D*/
}


.about {
    display: flex;
    align-items: center; /*Alinea verticalmente*/
    margin: 10px;
    background-color: #5fb5b1;
    border-radius: 5px;
}

.aboutext h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.aboutimg img{
    width: 400px;
    height: auto;
    align-items: center;
    margin: 10px 0 10px 20px;
    border-radius: 5px;
}

/*HISTORIA Y EVOLUCIÓN*/
.history{
    display: flex;
    flex-direction: column; /*Permite que el orden del contenido vaya hacia abajo tipo columnas*/
    align-items: center; /*Centra el texto*/
    padding: 20px 0 30px 0;
    margin:30px 10px 30px 10px;
    border-radius: 5px;
}

/*Ajusta las imagenes que se encuentran dentro de la clase de hisrory*/
.history img{
    width: 270px; /*Le asigna un ancho de 300px*/
    height:auto; /*Le asigna una altura proporcional al ancho*/
    align-items: center; /*Centra las imagenes*/
    margin: 10px 0 30px 0; /*Le da un margen inferior y superior para darle una mejor estética*/
    border-radius: 5px; /*Le otorga un margen a la imagen*/
}


/*IDENTIFICADORES*/
.identificadores{
    background-color: #5fb5b1;
    margin:30px 10px 30px 10px;
    padding: 20px 0 30px 0;
    border-radius: 5px;
}

.kids{
    background-color: #fffdd1;
    margin:30px 20px 30px 20px;
    padding: 20px 0 30px 0;
    border-radius: 5px;
}

.kids li{
    margin-left: 100px; /*Separa a la lista del borde de la página y la centra*/
    font-size: 18px;/*Hace que el tamaño de la fuente dentro de la lista de esta clase sea del mismo tamaño que se utilizan en todo el body*/
}

.adults{
    background-color: #fffdd1;
    margin:30px 20px 30px 20px;
    padding: 20px 0 30px 0;
    border-radius: 5px;
}

.adults li{
    margin-left: 100px; /*Separa a la lista del borde de la página y la centra*/
    font-size: 18px; /*Hace que el tamaño de la fuente dentro de la lista de esta clase sea del mismo tamaño que se utilizan en todo el body*/
}


/*SUBTIPOS*/
.types{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #207185;
    padding: 10px 0 30px 0;
    margin:10px;
    border-radius: 5px;
}

/*Le da estilo a la clase general al contenedor que almacenará los cuadros de texto de esta sección*/
.contenedor {
    display: flex;
    flex-wrap: wrap; /* Permite que los cuadros se acomoden automáticamente */
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: 10px 40px 20px 80px;
}

/*Define el estilo de los cuadros de texto de los subtipos*/
.chart{
    background-color: rgba(95, 171, 187, 0.8);
    color: white;
    width: 300px; /* Tamaño fijo para pantallas grandes */
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/*Acomoda la imagen dentro de los cuadros de texto*/
.chart img {
    width: 100%;
    height: 225px;
    border-radius: 5px;
}

/*Le da estilo a los titulos de la sección de cuadros en los subtipos*/
.titulo {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}

/*Se le da tamaño a la fuente dentro de los cuadros de texto en los subtipos*/
.desc {
    font-size: 14px;
}


/*FOOTER*/

/*"FOOTER SUPERIOR"*/
.footer-container{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-top{
    background-color: #0f7d7e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-bottom: 15px;
    margin: 0 auto;
}

.footer-logo img{
    margin: 5px 0 0 15px;
    width: 80px;
    height: auto;
}  

.footer-navbar{
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer-navbar li{
    margin: 0 10px;
}

.footer-navbar li a{
    color: #fff;
    padding: 0 10px; /*Margen interior*/
    text-decoration: none; /*Sirve para quitar la línea de enlace que aparece debajo cada enlace*/
    text-transform: uppercase; /*Aquí se transforma la letra en mayúsculas*/
    font-size: 13px;
}

.footer-navbar li a:hover {
    color: #fffb00;
}


/*"FOOTER INFERIOR"*/
.footer-bottom{
    background-color: #075f61;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 15px;
    margin: 0 auto;
}

.footer-bottom p {
    padding-left: 15px;
    color: #fff;
    font-size: 16.5px;
}

.socials img{
    padding: 0px 5px 5px 0px;
    display: inline-block;
    margin-left: 10px;
    width: 25px;
    height: auto; /*Mantiene la proporción de las imágenes al ajustar su tamaño*/
}

.socials img:hover {
    content: url("nueva-imagen.jpg"); /*Reemplaza la imagen de los íconos de las redes sociales*/
    transform: scale(1.2); /**/
}